body
{
    margin:0;
    padding:0; /* These are required to make align work properly */
    color:black;
    background-color:white;
    font-family:Verdana,Tahoma,Arial,sans-serif;
    font-size:13px;
}

.monospace
{
    font-family:"Courier New","Lucida Console",Courier,monospace;
}

.small
{
    font-size:10px;
}

.big
{
    font-size:16px;
}

.nobr 
{
    white-space:nowrap;
}

.italic
{
    font-style:italic;
}

.nav
{
    color:#006980;
    font-family:Tahoma,Verdana,Arial,sans-serif;
    font-weight:bold;
    font-size:1.1em;
}

a 
{
    color:#5070ff;
    text-decoration:none;
}

a:hover 
{
    color:#00378a;
}

table.main
{
    /* Note that td, th, tr will have 0 border unless otherwise
    specified */
    margin-left:auto;
    margin-right:auto;
    border:none;
    border-collapse:collapse;
    width:80%;
    text-align:left;
}

table.toc
{
    /* Note that td, th, tr will have 0 border unless otherwise
    specified */
    margin-left:auto;
    margin-right:auto;
    border:1px solid #c7d4e0;
    border-collapse:collapse;
    width:60%;
    text-align:left;
}

table.toc td
{
    border:1px solid #c7d4e0;
}

td.toc_bar
{
    height:25px;
    color:white;
    font-weight:bold;
    padding-left:8px;
    background-image:url('../img/toc_gradient.png');
    background-repeat:repeat-x;
    background-color:#205aaf;
}

td.toc_lesson
{
    padding-left:8px;
    background-color:#fafbfc;
}

/* Note: the dark bg class will take precedence over anything declared previously
   in this CSS file. Later styles have more precedence than styles declared early. */
th.table_header_dark_bg
{
    background-color:#82b1ee;
    color:white;
    font-weight:bold;
    padding-left:8px;
}

table.simple {
    border: 0;
    border-collapse: collapse;
}

th.simple_th {
    border: 0;
    text-align: center;
    padding: 3px;
}

td.simple_td {
    border: 1px darkgray solid;
    border-collapse: collapse;
    padding: 5px;
}

.centerobject  /*Centering for tables and non-text objects*/
{
    margin-left:auto;
    margin-right:auto;
}

.center
{
    text-align:center;
}

.left_align
{
    text-align:left;
}

.bold
{
    font-weight:bold;
}

img.simple_img
{
    border:none;
    vertical-align:text-bottom;
}

img.guidebook
{
    border:none;
    vertical-align:text-top;
}

img.left_indent
{
    margin-left:50px;
}

table.table_holder
{
    border:none;
    border-collapse:collapse;
    margin-left:auto;
    margin-right:auto;
}

table.table_holder td
{
    padding:10px; /* same as cellpadding=10 */
    vertical-align:top;
}

table.guide_explanation_table
{
    width:450px;
    margin-left:auto;
    margin-right:auto;
    border:none;
    border-collapse:collapse;
    text-align:left;
}

table.ascii_table
{
    margin-left:auto;
    margin-right:auto;
    border:1px solid #a9a9a9;
    border-collapse:collapse;
    font-family:"Courier New","Lucida Console",Courier,monospace;
}

table.ascii_table td
{
    border:1px solid #a9a9a9;
    padding:5px; /* same as cellpadding=5 */
    text-align:left;
}

table.ascii_table th
{
    border:1px solid #a9a9a9;
    background-color:black;
    color:white;
    font-weight:bold;
    padding:5px; /* same as cellpadding=5 */
    text-align:left;
}

table.reg_table
{
    border:1px solid #008b8b;
    border-collapse:collapse;
    font-family:"Courier New","Lucida Console",Courier,monospace;
}

table.reg_table td
{
    border:1px solid #008080;
    padding:6px; /* same as cellpadding=6 */
    text-align:left;
}

table.reg_table th
{
    border:1px solid #2f4f4f;
    background-color:#008b8b;
    color:white;
    font-weight:bold;
    padding:6px; /* same as cellpadding=6 */
    text-align:left;
}

table.img_framer
{
    border:none;
    border-collapse:collapse;
    text-align:center;
}

.lesson_title
{
    color:#47c5f7; /*a nice shade of light blue*/
    font-family:'Verdana', 'Tahoma', 'Arial', 'Times New Roman';
    font-size:50px;
}

.section_title
{
    color:#4169E1; /*steel blue*/
    font-family:'Tahoma', 'Arial', 'Verdana', 'Times New Roman';
    font-size:20px;
}

.section_title2
{
    color:#7700a5; /*royal purple*/
    font-family:'Tahoma', 'Arial', 'Verdana', 'Times New Roman';
    font-size:20px;
}

.section_title3
{
    color:#75b70c; /*light green*/
    font-family:'Tahoma', 'Arial', 'Verdana', 'Times New Roman';
    font-size:20px;
}

.subtitle
{
    color:#457acf; /*blue*/
    font-family:'Tahoma', 'Arial', 'Verdana', 'Times New Roman';
    font-size:17px;
    font-weight:bold;
}

.warning
{
    color:red;
}

.bold
{
    font-weight:bold;
}

.disabled_text
{
    color:gray;
}

.keyword
{
    color:#1e90ff;
}

.string
{
    color:#800080;
}

.comment
{
    color:#008000;
}

.number
{
    color:#0000ff;
}

.hex_dump_box
{
    color:red;
    font-weight:bold;
}

/* The instructions box is used for many things other than just instructions. */
.instructions_box
{
    color:green;
    font-weight:bold;
}

.comments_box
{
    color:#ff8c00;
    font-weight:bold;
}

th.lesson_label
{
    width:65px;
}

th
{
    text-align:left;
}

.under
{
    text-decoration:underline;
}
